extends layout

block additionalCSS
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  img.logo(src="images/logo.png")

  div
    form(method="POST" action="/" name='login')
      div.a
        input.form-group(type="text", placeholder="Email atau Username", name="username_or_email")
        br
        input.form-group(type="password", placeholder="Password", name="password")
        br
        button.form-submit(type='button' onclick="checkLogin()") Log In
        br
        a(href='' onclick="stillDeveloped()").lupa Lupa password?

      div.b
        button.facebook(type='button' onclick="stillDeveloped()")
          i(class='fa fa-facebook')
          span Log In dengan Facebook
        br
        
        button.twitter(type='button' onclick="stillDeveloped()")
          i(class='fa fa-twitter')
          span Log In dengan Twitter

      div.c
        span Prelo tidak akan post apapun tanpa persetujuan kamu
        hr

      div.d
        span Belum Punya ID Prelo? 
        a(href='' onclick="stillDeveloped()").daftar Daftar sekarang

  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/script/index.js')