extends layout

block additionalCSS
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  img.logo(src="images/logo.png")

  div
    form(method="POST" action="/")
      div.a
        input.form-group(type="text", placeholder="Email atau Username", name="username_or_email")
        br
        input.form-group(type="password", placeholder="Password", name="password")
        br
        button.form-submit(type='submit') Log In
        br
        a(href='').lupa Lupa password?

      div.b
        button.facebook(type='submit') Log In dengan Facebook
        br
        button.twitter(type='submit') Log In dengan Twitter

      div.c
        span Prelo tidak akan post apapun tanpa persetujuan kamu
        hr

      div.d
        span Belum Punya ID Prelo? 
        a(href='').daftar Daftar sekarang