extends layout

block additionalCSS
  link(rel='stylesheet', href='/stylesheets/lovelist.css')

block content
  div
    div.header
      div.left
        i(class='fa fa-reorder fa-2x')
      div.mid
        img.logos(src="images/logo.png")
      div.right
        i(class='fa fa-search fa-2x')
        i(class='fa fa-shopping-cart fa-2x')

    div.bheader
      span.username LOVELIST
      hr.garis

    div.list-item
      each val in data
        div.item
          div.kiri
            img.gambar-barang(src= val["display_picts"][0])
          div.kanan
            span.nama-barang= val["name"]
            span.harga-barang= val["price"]
            div.asd
              div.comment
                i(class='fa fa-comment-o')
                span.total-comment= val["num_comment"]
              div.love
                i(class='fa fa-heart-o')
                span.total-love= val["num_lovelist"]
          div.bawah
            hr.garis

    div.load-more
      button.load(type='submit') Load More