@font-face {
  font-family: "Lucida Grande";
  font-style: normal;
  src: url("LucidaGrande.ttf");
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
}
.header {
  background-color: #46ccc4;
  width: 390px;
  text-align: center;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: auto;
}
.left {
  float: left;
  text-align: left;
  display: inline;
}
.mid {
  text-align: center;
  display: inline;
}
.logos {
  height: 30px;
}
.right {
  float: right;
  text-align: right;
  display: inline;
}
.fa-search {
  margin-right: 10px;
}
.bheader {
  height: 50px;
  width: 400px;
  text-align: left;
  padding: 10px;
  background-color: #cfd8ea;
  margin: auto;
}
.username {
  font-size: 20px;
  color: #000;
}
.garis {
  border-style: solid;
  color: #cfd8ea;
  float: none;
  margin: 0;
}
.kiri {
  float: left;
  margin-right: 10px;
}
.gambar-barang {
  display: inline;
  height: 65px;
  width: 65px;
}
.list-item {
  background-color: #fff;
  width: 420px;
  text-align: left;
  margin: auto;
}
.kanan {
  margin: auto;
  margin-left: 70px;
  display: block;
}
.nama-barang {
  font-weight: bold;
  color: #000;
  display: block;
}
.harga-barang {
  color: #46ccc4;
  display: block;
  font-size: 12px;
}
.asd {
  margin-top: 10px;
}
.comment {
  display: inline;
  margin-right: 10px;
  font-size: 12px;
}
.love {
  display: inline;
  font-size: 12px;
}
.fa-comment-o,
.fa-heart-o {
  color: #cfd8ea;
  margin-right: 5px;
}
.total-comment,
.total-love {
  color: #cfd8ea;
}
.hitam {
  color: #000;
}
.item {
  margin-bottom: 10px;
  padding: 10px;
}
.load-more {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  margin: auto;
}
.load {
  width: 100px;
  height: 30px;
  background-color: #fff;
  border-style: solid;
  border-top: 10px;
  color: #46ccc4;
  border-radius: 15px;
  float: center;
  font-size: 12px;
  margin-top: 10px;
  font-style: bold;
  color: #000;
}
