@font-face
   font-family "Lucida Grande"
   font-style normal
   src url(LucidaGrande.ttf)

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align center
  color white

.header
  background-color #46ccc4
  width 390px
  text-align center
  padding 15px
  padding-top 7px
  padding-bottom 7px
  margin auto

.left
  float left
  text-align left
  display inline
  
.mid
  text-align center
  display inline

.logos
  height 30px

.right
  float right
  text-align right
  display inline

.bheader
  height 50px
  width 380px
  text-align left
  padding 20px
  background-color gray
  margin auto

.username
  font-size 20px
  
.kiri
  text-align left
  
.list-item
  background-color white
  width 420px
  text-align left
  margin auto

.nama-barang
  font-style bold
  color black
  display block
  
.harga-barang
  color #46ccc4
  display block
  
.asd
  margin-top 20px
  
.comment
  display inline
  
.love
  display inline
  
.fa-comment-o, .fa-heart-o
  color gray
  margin-right 5px
  
.total-comment, .total-love
  color gray
  
.hitam
  color black

.item
  margin-bottom 10px
  
.load-more
  text-align center
  background-color gray
  padding 20px
  margin auto
  
.load
  width 100px
  height 30px
  background-color white
  border-style solid
  border-top 10px
  color #46ccc4
  border-radius 15px
  float center
  font-size 12px
  margin-top 10px
  font-style bold
  color black