@font-face {
  font-family: "Lucida Grande";
  font-style: normal;
  src: url("LucidaGrande.ttf");
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #46ccc4;
  text-align: center;
  color: #fff;
}
.logo {
  margin-top: 80px;
  margin-bottom: 80px;
}
a {
  color: #fff;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
form {
  text-align: center;
}
.form-group {
  width: 280px;
  background-color: #10a49b;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.form-submit {
  width: 300px;
  background-color: #46ccc4;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  color: #fff;
}
button {
  padding: 10px;
  width: 300px;
  color: #fff;
  margin-bottom: 10px;
  height: 35px;
}
.a {
  text-align: center;
  margin-bottom: 50px;
}
.lupa {
  text-align: right;
  margin-right: 0px;
  font-weight: normal;
  font-style: normal;
}
.b {
  margin-bottom: 10px;
}
.facebook,
.twitter {
  border: none;
  background-color: #10a49b;
}
.c {
  margin-bottom: 30px;
  font-size: 12px;
}
hr {
  width: 300px;
  size: 5px;
  border-style: solid;
}
::-webkit-input-placeholder {
  color: #fff;
}
